nav {
    width: 100%;
    height: 70px;
    background-color: darkgray;
    padding-top: 5px;
    box-sizing: border-box;
  }
  ul.menu {
    display: flex;
  }
  li.menu {
    list-style: none;
  }
  a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
  }

  footer{
    text-align: center;
  }

/* 画像サイズを常にウィンドウ幅に設定 */
img {
    width: 30%;
    height: auto;
    }


 .btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
}

.btn-circle-fishy:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

